@import "tailwindcss";

/* Add to your global CSS */
/* 1️⃣ Import ফন্ট সব rules এর আগে */



.glass-text {
  color: transparent;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.8)
  );

  background-clip: text;
  -webkit-background-clip: text;

  filter: drop-shadow(0 8px 20px rgba(255, 255, 255, 0.15));
  position: relative;
}

/* glass shine overlay */
.glass-text::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  mix-blend-mode: overlay;
  pointer-events: none;
}
